:root {
  --background-color: #f7f6f5;
  --dark-black: #000;
  --medium-black: #121212;
  --light-black: #424447;
  --dark-gray: #545454;
  --light-gray: #cecece;
  --art: #FF7895;
  --culture: #5D9EFF;
  --garden: #58C193;
  --history: #F1C338;
  --children: #C773E7;
  --zoo: #FC995A;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

form, select, button, fieldset, a {
  all: unset;
  appearance: none;
  outline: none; 
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 440;
  font-size: 1.6rem;
  margin: 0.2rem 0 0.4rem 0;
  line-height: 1.6rem;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
  margin: 0 0 0.4rem 0;
}

p {
  font-size: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

#map {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* header */

#header {
  position: absolute;
  color: var(--dark-black);
  z-index: 1;
  width: 100%;
}

#top-section {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6.5vh;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  background-color: var(--background-color);
}

#top-section img {
  height: 100%;
  width: auto;
}

#menu-btn {
  width: 25px;
}

#type-container {
  width: 100vw;
  display: flex;
  color: var(--dark-black)
}

#type-container input {
  display: none;
}

#type-container label {
  flex-grow: 1;
  padding: 0.2rem 0.4rem 0.2rem calc(2vw + 0.4rem);
  border-top: 1.5px solid var(--medium-black);
  border-bottom: 1.5px solid var(--medium-black);
  border-right: 1.5px solid var(--medium-black);
  border-bottom-right-radius: 10px;
  margin-left: -2vw;
  /* margin extends to left for "stacked" effect*/
}

label:has(#zoo) {
  margin-right: -0.25vw;
}

#type-container label {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

label:has(#zoo) {
  z-index: 1;
}

label:has(#zoo:checked) {
  background-color: var(--zoo);
  color: var(--dark-black);
}

label:has(#children) {
  z-index: 2;
}

label:has(#children:checked) {
  background-color: var(--children);
  color: var(--dark-black);
}

label:has(#history) {
  z-index: 3;
}

label:has(#history:checked) {
  background-color: var(--history);
  color: var(--dark-black);
}

label:has(#garden) {
  z-index: 4;
}

label:has(#garden:checked) {
  background-color: var(--garden);
  color: var(--dark-black);
}

label:has(#culture) {
  z-index: 5;
}

label:has(#culture:checked) {
  background-color: var(--culture);
  color: var(--dark-black);
}

label:has(#art) {
  z-index: 6;
}

label:has(#art:checked) {
  background-color: var(--art);
  color: var(--dark-black);
}

/* day checkboxes */

#day-checkboxes-container {
  position: absolute;
  top: calc(10.5vh + 1rem);
  right: 1rem;
  z-index: 2;
  overflow: hidden;
  border-radius: 1.3rem;
  outline: 1.5px solid var(--medium-black);
  max-height: 2.6rem;
  transition: max-height 0.4s ease-in-out;
}

#day-checkboxes {
  align-self: top;
  height: auto;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 1.1rem;
  margin-top: 0.25rem;
}

#day-btn-img {
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

#day-checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#day-checkboxes label, #day-btn {
  height: 2.6rem;
  width: 2.6rem;
  border-top: 1.5px solid var(--medium-black);
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: var(--background-color);
}

#day-btn {
  border-top: none;
}

#day-checkboxes input ~ div {
  position: absolute;
  border: none;
  height: 1.5px;
  width: 12rem;
  border-radius: 2px;
  background-color: var(--medium-black);
  transform: rotate(45deg) translate(-3rem, 0);
  visibility: visible;
  transition: width 0.3s ease-in-out;
}

#day-checkboxes input:checked ~ div {
  visibility: hidden;
  width: 0;
}

/* menu */

#menu-backdrop {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: var(--dark-black);
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

#menu {
  position: absolute;
  right: -90vw;
  top: -2px;
  z-index: 10;
  background-color: var(--background-color);
  box-sizing: border-box;
  height: calc(100% + 4px);
  width: 90vw;
  border: 1.5px solid var(--medium-black);
  border-right: none;
  transition: right 0.5s ease-in-out;
  visibility: hidden;
}

#menu-header {
  position: sticky;
  padding: 2rem 2rem 0.5rem 2rem;
  background-color: var(--background-color);
  height: auto;
}

#menu-close-btn {
  float: right;
}

#menu-close-btn img {
  height: 30px;
  width: 30px;
  transform: rotate(-90deg);
}

#menu #logo {
  width: min(75%, 200px);
}

#menu-content {
  overflow-y: scroll;
  height: 100%;
  padding: 0 2rem 4rem 2rem;
  box-sizing: border-box;
}

#menu form {
  font-weight: 300;
}

.p-form {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.p-form:nth-of-type(2) {
  margin-top: 0.6rem;
}

#menu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#menu label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  margin: 0.4rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 1.5px;
  height: 22px;
  width: 22px;
  outline: 1.5px solid var(--light-black);
}

label input:checked ~ .checkmark {
  background-color: var(--light-black);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label input:checked ~ .checkmark:after {
  display: block;
}

label .checkmark:after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid var(--background-color);
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio {
  position: absolute;
  top: -2px;
  left: 1.5px;
  height: 22px;
  width: 22px;
  border-radius: 20px;
  outline: 1.5px solid var(--light-black);
}

label input:checked ~ .radio {
  background-color: var(--light-black);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

label input:checked ~ .radio:after {
  display: block;
}

label .radio:after {
  left: 6px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--background-color);
}

#p-small {
  font-size: 0.8rem;
}

/* popup */

#popup {
  position: absolute;
  bottom: -80vh;
  visibility: hidden;
  z-index: 1;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: var(--background-color);
  color: var(--medium-black);
  border: 1.5px solid var(--medium-black);
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: bottom 0.5s ease-in-out;
}

#popup #close-btn {
  float: right;
}

#close-btn img {
  height: 36px;
  width: 36px;
}

#weekdays {
  align-self: top;
  height: auto;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 1.1rem;
  margin-top: 0.25rem;
}

#weekdays div {
  height: 2rem;
  width: 2rem;
  border: 1.5px solid var(--medium-black);
  border-top: none;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weekdays #sunday-box {
  border-top: 1.5px solid var(--medium-black);
}

#weekdays #sunday-slash, #weekdays #monday-slash, #weekdays #tuesday-slash, #weekdays #wednesday-slash, #weekdays #thursday-slash, #weekdays #friday-slash, #weekdays #saturday-slash {
  position: absolute;
  border: none;
  height: 1.5px;
  width: 2.9rem;
  border-radius: 2px;
  background-color: var(--medium-black);
  transform: rotate(45deg);
  visibility: hidden;
}

#popup #content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#popup .icon {
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: -0.2rem;
  margin-right: 0.3rem;
}

#popup p {
  color: var(--light-black);
}

#external-link-icon {
  height: 1.2rem;
  vertical-align: -0.2rem;
  margin-right: 0.4rem;
}

#info-btn {
  display: inline-block;
  background-color: var(--medium-black);
  color: var(--background-color);
  font-family: "Space Grotesk", sans-serif;
  width: fit-content;
  margin-top: 0.6rem;
  padding: 0.5rem 1rem;
}

/* hover states on desktop only */
@media screen and (min-width: 768px) {

  label:has(#zoo):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--zoo) 30%);
  }

  label:has(#zoo:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--zoo) 70%);
  }

  label:has(#children):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--children) 30%);
  }

  label:has(#children:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--children) 70%);
  }

  label:has(#history):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--history) 30%);
  }

  label:has(#history:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--history) 70%);
  }

  label:has(#garden):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--garden) 30%);
  }

  label:has(#garden:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--garden) 70%);
  }

  label:has(#culture):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--culture) 30%);
  }

  label:has(#culture:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--culture) 70%);
  }

    label:has(#art):hover {
    background-color: color-mix(in srgb, var(--background-color) 70%, var(--art) 30%);
  }

  label:has(#art:checked):hover {
    background-color: color-mix(in srgb, var(--background-color) 30%, var(--art) 70%);
  }

}
